.signin-heading {
    -fx-font-family: Marcellus;
    -fx-font-weight: bold;
    -fx-text-fill: -text-primary;
    -fx-font-size: 42px;
}

.signin-root.compact .signin-heading {
    -fx-font-size: 32px;
}
